__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.egg-info
*.egg
*.whl
*.dist-info
*.tar.gz
*.tar.bz2
MUJOCO_LOG.TXT
MJDATA.TXT
recordings/*
!recordings/.gitkeep
hydrax/recordings/
build
sys_id/collected_data/*
sys_id/results/*
sys_id/plots/*
sys_id/torque_comparison/*
